.summary-box{
    border-radius: 4px;
    margin-top: 5px;
    width: 280px;
    height: 300px;
    padding: 15px;
}

.summary-title{
    text-align: center;
    color:green;
    margin-bottom: 15px;
}
.bs{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
h5{
    color: gray;
}
h6{
    color: gray;
}